In [1]:
import pandas as pd

data = {
    'Employee ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Name': ['John', 'Emma', 'Michael', 'Sophia', 'William', 'Olivia', 'James', 'Ava', 'Benjamin', 'Mia'],
    'Age': [32, 28, 35, 42, 39, 26, 31, 33, 37, 29],
    'Department': ['Data Science', 'Ops', 'Product', 'Design', 'Ops', 'Data Science', 'Product', 'Design', 'Data Science', 'Ops'],
    'Salary': [85000, 75000, 95000, 88000, 82000, 72000, 90000, 82000, 88000, 75000],
    'Experience (years)': [7, 5, 9, 12, 10, 4, 6, 8, 11, 5]
}

df = pd.DataFrame(data)
print(df)

   Employee ID      Name  Age    Department  Salary  Experience (years)
0            1      John   32  Data Science   85000                   7
1            2      Emma   28           Ops   75000                   5
2            3   Michael   35       Product   95000                   9
3            4    Sophia   42        Design   88000                  12
4            5   William   39           Ops   82000                  10
5            6    Olivia   26  Data Science   72000                   4
6            7     James   31       Product   90000                   6
7            8       Ava   33        Design   82000                   8
8            9  Benjamin   37  Data Science   88000                  11
9           10       Mia   29           Ops   75000                   5

In [2]:
import pandas as pd

data = {
    "Employee ID": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "Name": ["John", "Sarah", "Michael", "Emily", "David", "Emma", "Daniel", "Olivia", "James", "Sophia"],
    "Age": [30, 35, 28, 42, 39, 27, 33, 31, 37, 29],
    "Gender": ["Male", "Female", "Male", "Female", "Male", "Female", "Male", "Female", "Male", "Female"],
    "Position": ["Data Scientist", "Operations Manager", "Product Manager", "Design Lead", "Data Analyst", "Operations Analyst", "Product Analyst", "Designer", "Data Engineer", "Operations Coordinator"],
    "Department": ["Data Science", "Ops", "Product", "Design", "Data Science", "Ops", "Product", "Design", "Data Science", "Ops"]
}

df = pd.DataFrame(data)
print(df)

   Employee ID     Name  Age  Gender                Position    Department
0            1     John   30    Male          Data Scientist  Data Science
1            2    Sarah   35  Female      Operations Manager           Ops
2            3  Michael   28    Male         Product Manager       Product
3            4    Emily   42  Female             Design Lead        Design
4            5    David   39    Male            Data Analyst  Data Science
5            6     Emma   27  Female      Operations Analyst           Ops
6            7   Daniel   33    Male         Product Analyst       Product
7            8   Olivia   31  Female                Designer        Design
8            9    James   37    Male           Data Engineer  Data Science
9           10   Sophia   29  Female  Operations Coordinator           Ops